{% extends 'layouts/app.html' %}
{% load static %}
{% block title %} {{ name }} {% endblock title %}
{% block content %}

{% if background_image %}
    <style>
        .bg{
            height: 120%;
            background-image: url("/{{ background_image }}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bg::before{
            content: ' ';
            position: absolute;
            top: 0;
            width: 100%;
            height: 120%;
            background-color: rgba(94, 89, 89, 0.288);
        }
    </style>
    <script>
        var element = document.getElementById("panel");
        element.classList.add("bg");
    </script>
{% endif %}

<div class="header pb-8 align-items-center" style="min-height: 150px; background: transparent;">
    {% if url_music %}
        <audio controls loop class="form-control col-md-6" id="volum_audio" style="opacity:0;" controlsList="nodownload">
            <source src="/{{ url_music }}" type="audio/mpeg">
        </audio>
    {% endif %}
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card khong_mau">
            <div class="card-profile-image">
                <img src="/{{ profile_image }}" style="box-shadow: 0 0 12px grey;" class="img-thumbnail">
            </div>
            <div class="card-body pt-6">
                <div class="text-center">
                    <h5 class="h3 mt-5 kieu_chu">{{name}}</h5>
                    <span class="heading kieu_chu {{user_css}} " rel="tooltip" title="{{buff_level}} {% if vip_time%} <br> {{vip_time}} {% endif %}">{{level_name}}</span>
                </div>
                <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                        {% if name_music  and name_music != "None" %}
                            <span><marquee style="width:70%;">{{ name_music }}</marquee></span><br>
                        {% endif %}
                        {% if url_music and url_music != "static/img/brand/logo.png" %}                        
                            <button class="btn btn-sm btn-info mb-1" onclick="playVid()" ><i class="ni ni-button-play"></i></button><button class="btn btn-sm btn-danger mb-1" onclick="pauvid()" ><i class="ni ni-button-pause"></i></button><br>
                        {% endif %}
                        {% if des and des != "None" %}
                            <span class="h4 mb-1">{{ des|safe }}</span>
                            <br>
                        {% endif %}
                        {% if is_friend == False and  is_self == False %}
                            <!-- You sent them a request -->
                            {% if request_sent == 1 %}
                                <button class="btn btn-danger" id="id_cancel_{{id}}" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>Huỷ Yêu Cầu Kết Bạn</button>
                            {% endif %}
                            <!-- No requests have been sent -->
                            {% if request_sent == -1 %}
                                <button class="btn btn-primary" id="id_send_friend_request_btn">Yêu Cầu Kết bạn</button>
                            {% endif %}
                        {% endif %}                        
                        {% if request_sent == 0 %}
                        <div class="card m-2 p-4">
                            <div class="d-flex flex-row align-items-center">
                                <span class="friend-text align-items-center mr-2">Xác nhận kết bạn</span>
                                <button id="id_cancel_{{id}}" class="btn btn-sm btn-danger" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>Huỷ</button>
                                <button id="id_confirm_{{id}}" class="btn btn-sm btn-success" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>Nhận</button>
                            </div>
                        </div>
                        {% endif %}
                        {% if is_friend %}
                            <button class="btn btn-secondary" onclick="friend_list_guest( {{id}} )">Bạn bè</button>
                            <button class="btn btn-danger" onclick="removeFriend('{{id}}', onFriendRemoved)">Xoá bạn bè</button>
                            <button class="btn btn-info"onclick="createOrReturnPrivateChat('{{id}}')">Nhắn tin</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card khong_mau">
            <div class="card-header font-weight-bold khong_mau">Thông tin</div>
            <div class="card-body menu-guest-profile">
                <div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <!-- Progress track -->
        <div class="card khong_mau">
            <div class="card-body">
                <div class="row">
                    <div class="progress-wrapper col-12">
                        <div class="progress-info">
                            <div class="progress-label">
                                <div>Exp: <span>Task completed</span></div>
                            </div>
                            <div class="progress-percentage">
                                    <span>60%</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

	// called from base_js.html
	//preloadImage("{{profile_image|safe}}", 'id_profile_image')

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	function onFriendRequestAccepted(){
		location.reload();
	}

	function onFriendRequestDeclined(){
		location.reload();
	}


	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{id}}", onFriendRequestSent)
		})
	}

	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			removeFriend("{{id}}", onFriendRemoved)
		})
	}

	function triggerAcceptFriendRequest(friend_request_id){
		acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}

	function triggerDeclineFriendRequest(friend_request_id){
		declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}
	
</script>

{% include 'friend/send_friend_request.html' %}

{% endblock content %}