{% extends 'layouts/app.html' %}
{% block title %} Đăng nhập {% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form role="form" method="POST" action="{% url 'login' %}" >
                        {% csrf_token %}
                        <div class="mb-2">
                            {% for key, value in form.errors.items %}
                                {% for val in value %}
                                <p class="alert alert-danger" >{{val}}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Email" type="email" name="username" required autofocus>
                                
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" name="password" placeholder="Mật khẩu" type="password"  required>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="hidden" name="next" value="{{ request.GET.next }}" />
                            <button type="submit" class="btn btn-primary my-4">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="{% url 'password_reset' %}" class="text-danger"><small> Quên mật khẩu?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="{% url 'register' %}" class="text-primary"><small> Tạo tài khoản mới</small> </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}