<style>
    .card-profile-image #img-friend{
        height: 95px;
        width:95px;
        top:50%;
    }
</style>
<div class="container">
    <button class="btn btn-sm btn-default ml-3 mb-2" onclick="menu_profile()"><i class="ni ni-bold-left"></i></button>
    {% if friends is not None %}
            {% for friend in friends %}
                <div class="card khong_mau">
                    <div class=" row">
                        <div class="col-4">
                            <div class="card-profile-image" style="height:80px;">
                                <img class="img-thumbnail" id="img-friend" src="/{{friend.0.profile_image}}" alt="">
                            </div>
                        </div>
                        <div class="col-8 mt-2">
                            <a href="/profile/{{friend.0.pk }}/">
                                <h4 class="card-title">{{friend.0.name|truncatechars:30|title}}</h4>
                            </a>                    
                            <a href="#" onclick="createOrReturnPrivateChat('{{friend.0.id}}')"><i class="ni ni-chat-round text-primary"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% else %} <!-- If no friends -->
        <div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center p-4">
            <p>Chưa có bạn bè :(</p>
        </div>
    {% endif %}
</div>
<script type="text/javascript" src="/static/custom/custom.js"></script>